.pokemon-admin {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.pokemon-admin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
